<div>
  <h3>Username: <%=comment.username%></h3>
  <p>Street name: <%=comment.street_name%></p>
  <p>Date: <%=comment.date%></p>
  <p>Time of day: <%=comment.time_of_day%></p>
  <p>Comment on this street: <%=comment.street_comment%></p>
</div>
